@model IEnumerable<BookCatalog.Models.Book>

@{
    ViewData["Title"] = "Lista książek";
}


<a class="btn btn-primary" href="/Books/Create" role="button">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
    </svg>
    Dodaj nową książkę
</a>

<hr />

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PublishDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumberOfPages)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CatalogNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsRented)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @item.PublishDate.ToShortDateString()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberOfPages)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CatalogNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsRented)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3 class="tex-center"> Katalog książek jest pusty!</h3>
}
